

body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.page {max-width: 1440px;
	text-align: center}

.inlineblock {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #000000;
}


ul {
	height: 20px;
	width: 100%;
	text-align: center;
	padding-top: 5px;
}


#navlogo {
	width: 170px;
	float: left;
	padding-right: 10px;
	padding-left: 40px;
	padding-top: 10px;
}

li {
	display: inline;
	list-style-type: none;
	color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;

}

.navImages {width: 20px;
padding-right: 40px;
float: right;
text-align: center;}

#insta {padding-right: 100px;}

#description {
	font-weight: bold;
	color:#ffffff;
	font-size: 16px;
	letter-spacing: 6px;
	padding-bottom: 20px;
}

.heroimg img{
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	

}

.heroimg {
	width: 100%;
	height: 100px;
	padding-top: 15%;
	padding-bottom: 30%;
	background-image:url("../images/GradientBackgroud.png");
	background-size: cover;
	background-repeat: no-repeat;}

.content {width: 700px;
margin: 0 auto;}

.button {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: black;
	border: none;
	color: white;
	padding: 20px 32px;
	text-align: center;
	font-size: 16px;
	border-radius: 10px;}

.aboutleft {
	background-color: black;
	display: inline-block;
	float: left;
	width: 50%;
	height: 250px;
	padding-top: 125px;
	padding-bottom: 10px
}

#aboutimg {max-width: 50%;}

.aboutright {
	color: white;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 20px;
	background-color: #5B04CF;
	display: inline-block;
	float: right;
	width: 60%;
	height: 250px;
	padding-top: 67.5px;
	padding-bottom: 67.5px;

}

#aboutme {display: inline-block;
	text-align: left;
	width: 40%;
}

.workGrid {
	display: grid;
	padding: 50px;
	grid-template-areas: "myarea";
	grid-template-rows: auto;
	grid-template-columns: auto;
}

.flexContainer {display: flex;}

.skillsleft {font-size: 16px;
	background-color: #5B04CF;
	display: inline-block;
	float: left;
	width: 50%;
	height: 250px;
	padding-top: 125px;
	padding-bottom: 10px}

.skillstext {
	color: white;
	font-size: 16px;
	letter-spacing: 6px;
	line-height: 30px;}


#skillsimg {
	max-width: 50%;	
}

.skillsright {
	background-color: #F2ECEA;
	display: inline-block;
	float: right;
	width: 50%;
	height: 250px;
	padding-top: 125px;
	padding-bottom: 10px
}

footer {
	background-color: black; 
	width: 100%;
	height: 100px;
	padding-top: 40px;
	}


.footerImages {width: 20px;
padding-right: 40px;
text-align: center;}


@media only screen and (max-width: 600px) 
{.flexcontainter {
	flex-direction: column;}
	
.skillsleft {width: 100%}
	
.skillsright{width: 100%}
	
	.workGrid {
	grid-template-areas: "myarea";
	grid-template-rows: auto;
	grid-template-columns: auto;
	}
	
	.aboutright {font-size: 10px;
		letter-spacing: 2px;
	line-height: 10px;
	}
	
	.skillstext {font-size: 10px;
			letter-spacing: 2px;
	}
	
	
}


.navlinkone {
  transition: color 0.5s;
}

.navlinktwo {
  transition: color 0.5s;
}

.navlinkthree {
  transition: color 0.5s;
}

.navlinkfour {
  transition: color 0.5s;
}

.navlinkfive {
  transition: color 0.5s;
}

.navlinksix {
  transition: color 0.5s;
}

.navlinkeight {
  transition: color 0.5s;
}

.navlinknine {
  transition: color 0.5s;
}

