@charset "UTF-8";

body {max-width: 1440px;}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;}

.navbar-brand {padding-left: 30px;}

.navbar-soc {padding-right: 40px;}

.jumbotronImgOne {
    width: 50%;
    height: 500px;
    background-image: url("../images/cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    float: left;}

.jumbotronTitle {
    width: 50%;
    height: 500px;
    float: right;}

h1 {    
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 4px;
    padding-left: 100px;
    padding-right:100px;
    padding-top:10px;}


.leadOne {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 100px;
    padding-right:100px;
    padding-top:5px;
}

.display-4 {
    padding-top: 80px;
    padding-left: 100px;}

.jumbotronPlanning {
    width: 50%;
    height: 500px;
    padding-top: 100px;
    float: left;}

.lead {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 100px;
    padding-right:100px;
    padding-top: 20px;}


.jumbotronImgTwo {
    width: 50%;
    height: 500px;
    background-image: url("../images/imgtwo.png");
    background-size: cover;
    background-repeat: no-repeat;
    float: right;}


.jumbotronImgThree {  width: 50%;
    height: 505px;
    background-image: url("../images/imgthree.png");
    background-size: cover;
    background-repeat: no-repeat;
    float: left;}
    
    
.jumbotronResearch {
    width: 50%;
    height: 505px;
    float: right;
    padding-top: 100px;
}


.jumbotronWf {
    width: 50%;
    height: 410px;
    float: left;
    padding-top: 100px;}


.jumbotronImgFour { 
    width: 50%;
    height: 410px;
    background-image: url("../images/Imgfour_attempttwo.png");
    background-size: cover;
    background-repeat: no-repeat;
    float: right;}


.jumbotronTesting{
    width: 50%;
    height: 380px;
    float: right;
    padding-top: 100px;}

 .jumbotronImgFive{  width: 50%;
            height: 380px;
            background-image: url("../images/IMGFIVE.png");
            background-size: cover;
            background-repeat: no-repeat;
            float: left;}
            

.jumbotronPrototypes {
    width: 50%;
    height: 370px;
    float: left;
    padding-top: 100px;}


.jumbotronImgSix { 
        width: 50%;
        height: 370px;
        background-image: url("../images/IMGSIX.png");
        background-size: cover;
        background-repeat: no-repeat;
        float: right;}



